<!-- https://www.educba.com/flask-url_for/ -->
{% extends "layout.html" %}

{% block content %}
<main>
  <div class="container">


    <div class="content">

      <!-- https://api.openalex.org/venues?filter=display_name.search:Neurology -->
      <div class="mt-4 mb-5 p-5 bg-primary text-white rounded">
        <h1>{{ data['display_name']}}</h1>
        <p>
          issn: {{ data['issn'] }} &nbsp;&nbsp; publisher: {{ data['publisher'] }} &nbsp;&nbsp; 
          works_count: {{ data['works_count'] }} &nbsp;&nbsp; cited_by_count: {{ data['cited_by_count'] }} &nbsp;&nbsp; 
          is_oa: {{ data['is_oa'] }} &nbsp;&nbsp; is_in_doaj: {{ data['is_in_doaj'] }} &nbsp;&nbsp; 
          created_date: {{ data['created_date'] }} &nbsp;&nbsp; <br> homepage_url:&nbsp;<a href="{{data['homepage_url']}}"  target="_blank" style="color:white ;">{{ data['homepage_url'] }} </a>  &nbsp;&nbsp; 
        </p>
      </div>

      <ul class="list-group">
        {% for item in data['counts_by_year'] %}
          <li class="list-group-item">
            <ul>
              <li>
                year: <a href={{ url_for('work' , url_id =data['id'], year= item['year']  ) }}> {{ item['year'] }} </a>
              </li>
              <li>
                works_count: {{ item['works_count'] }}
              </li>
              <li>
                cited_by_count: {{ item['cited_by_count'] }}
              </li>
            </ul>
          </li>
        {% endfor %}
      </ul>




    </div>




    <div class="clearfix"></div>

  </div>
</main>


{% endblock %}