<!-- https://www.educba.com/flask-url_for/ -->
{% extends "layout.html" %}

{% block content %}
<main>
  <div class="container">

    <form method="post">
      <p>Enter ISSN:</p>
      <p><input type="text" name="issn" /></p>
      <p><input type="submit" value="submit" /></p>
    </form>

    <div class="content">

      <!-- https://api.openalex.org/venues?filter=display_name.search:Neurology -->
      {% for venue in venues %}

      <div class="mt-4 mb-5 p-5 bg-secondary text-white rounded">
        <h1>{{ venue['display_name']}}</h1>
        <p>
          issn: {{ venue['issn'] }} &nbsp;&nbsp; publisher: {{ venue['publisher'] }} &nbsp;&nbsp;
          works_count: {{ venue['works_count'] }} &nbsp;&nbsp; cited_by_count: {{ venue['cited_by_count'] }}
          &nbsp;&nbsp;
          is_oa: {{ venue['is_oa'] }} &nbsp;&nbsp; is_in_doaj: {{ venue['is_in_doaj'] }} &nbsp;&nbsp;
          created_date: {{ venue['created_date'] }} &nbsp;&nbsp; <br> homepage_url:&nbsp;<a
            href="{{venue['homepage_url']}}" target="_blank" style="color:white ;">{{ venue['homepage_url'] }} </a>
          &nbsp;&nbsp;
        </p>
      </div>

      <ul class="list-group">
        {% for item in venue['counts_by_year'] %}
        <li class="list-group-item">
          <ul>
            <li>
              year: <a href={{ url_for('work' , url_id=venue['id'], year=item['year'] ) }}> {{ item['year'] }} </a>
            </li>
            <li>
              works_count: {{ item['works_count'] }}
            </li>
            <li>
              cited_by_count: {{ item['cited_by_count'] }}
            </li>
          </ul>
        </li>
        {% endfor %}
      </ul>

      {% endfor %}






    </div>




    <div class="clearfix"></div>

  </div>
</main>


{% endblock %}